{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <div class="jumbotron">
            <h1 class="display-4">About Company</h1>
            <p class="lead">
                Aqui hablamos acerca de la compañia
            </p>

        </div>
    </div>
    <div class="col-4"><img src="assets/img/taco.jpg" class="img-thumbnail" /> </div>
</div>
{{> footer}}